In [1]:
import pandas as pd

# Get 3 dataframes

In [2]:
zip_wo = pd.read_csv('../cluster/zip_code_age_lg_wealth_osm_percentage.csv', index_col="Unnamed: 0")

In [3]:
male_age_data = pd.read_csv('../data-collect/male_age_data.csv', index_col="Unnamed: 0")
female_age_data = pd.read_csv('../data-collect/female_age_data.csv', index_col="Unnamed: 0")

In [4]:
#zip_wo
#male_age_data

In [5]:
zip_wo_d = zip_wo.drop([10020])

In [6]:
male_age_data_d = male_age_data.drop([10020])
female_age_data_d = male_age_data.drop([10020])

# Make the dataframe for filter

In [7]:
zip_wo_d_s2 = zip_wo_d

In [8]:
# zip_wo_d_s2['age0_18'] = male_age_data_d['1'] + female_age_data_d['1']
# for i in range(2, 19):
#     column = str(i)
#     zip_wo_d_s2['age0_18'] += male_age_data_d[column] + female_age_data_d[column]
zip_wo_d_s2['age6_12'] = male_age_data_d['6'] + female_age_data_d['6']
for i in range(7, 13):
    column = str(i)
    zip_wo_d_s2['age6_12'] += male_age_data_d[column] + female_age_data_d[column]

In [9]:
zip_wo_d_s2['age13_17'] = male_age_data_d['13'] + female_age_data_d['13']
for i in range(14, 18):
    column = str(i)
    zip_wo_d_s2['age13_17'] += male_age_data_d[column] + female_age_data_d[column]

In [10]:
zip_wo_d_s2['age18_24'] = male_age_data_d['18'] + female_age_data_d['18']
for i in range(19, 25):
    column = str(i)
    zip_wo_d_s2['age18_24'] += male_age_data_d[column] + female_age_data_d[column]

In [11]:
zip_wo_d_s2['age25_34'] = male_age_data_d['25'] + female_age_data_d['25']
for i in range(26, 35):
    column = str(i)
    zip_wo_d_s2['age25_34'] += male_age_data_d[column] + female_age_data_d[column]

In [12]:
zip_wo_d_s2['age35_44'] = male_age_data_d['35'] + female_age_data_d['35']
for i in range(36, 45):
    column = str(i)
    zip_wo_d_s2['age35_44'] += male_age_data_d[column] + female_age_data_d[column]

In [13]:
zip_wo_d_s2['age45_54'] = male_age_data_d['45'] + female_age_data_d['45']
for i in range(46, 55):
    column = str(i)
    zip_wo_d_s2['age45_54'] += male_age_data_d[column] + female_age_data_d[column]

In [14]:
zip_wo_d_s2['age65_54'] = male_age_data_d['45'] + female_age_data_d['45']
for i in range(46, 55):
    column = str(i)
    zip_wo_d_s2['age45_54'] += male_age_data_d[column] + female_age_data_d[column]

In [15]:
zip_wo_d_s2['age55_64'] = male_age_data_d['55'] + female_age_data_d['55']
for i in range(56, 65):
    column = str(i)
    zip_wo_d_s2['age55_64'] += male_age_data_d[column] + female_age_data_d[column]

In [16]:
zip_wo_d_s2['age65_102'] = male_age_data_d['65'] + female_age_data_d['65']
for i in range(66, 103):
    column = str(i)
    zip_wo_d_s2['age65_102'] += male_age_data_d[column] + female_age_data_d[column]

In [17]:
zip_wo_d_s2['age6_12'] = zip_wo_d_s2['age6_12'] / zip_wo_d_s2['age6_12'].sum()
zip_wo_d_s2['age13_17'] = zip_wo_d_s2['age13_17'] / zip_wo_d_s2['age13_17'].sum()
zip_wo_d_s2['age18_24'] = zip_wo_d_s2['age18_24'] / zip_wo_d_s2['age18_24'].sum()
zip_wo_d_s2['age25_34'] = zip_wo_d_s2['age25_34'] / zip_wo_d_s2['age25_34'].sum()
zip_wo_d_s2['age35_44'] = zip_wo_d_s2['age35_44'] / zip_wo_d_s2['age35_44'].sum()
zip_wo_d_s2['age45_54'] = zip_wo_d_s2['age45_54'] / zip_wo_d_s2['age45_54'].sum()
zip_wo_d_s2['age55_64'] = zip_wo_d_s2['age55_64'] / zip_wo_d_s2['age55_64'].sum()
zip_wo_d_s2['age65_102'] = zip_wo_d_s2['age65_102'] / zip_wo_d_s2['age65_102'].sum()

In [18]:
df = zip_wo_d_s2[['age6_12', 'age13_17', 'age18_24', 'age25_34', 'age35_44', 'age45_54', 'age55_64', 'age65_102']]
df

,age6_12,age13_17,age18_24,age25_34,age35_44,age45_54,age55_64,age65_102
10026,0.015022,0.014964,0.012695,0.011558,0.014269,0.014825,0.010938,0.008741
10027,0.022007,0.024810,0.035758,0.022243,0.019092,0.020994,0.018296,0.015805
10030,0.012525,0.015009,0.010999,0.008424,0.009583,0.010988,0.008617,0.007558
10037,0.006799,0.007751,0.005905,0.004534,0.005171,0.006224,0.005720,0.007371
10039,0.013117,0.013557,0.009988,0.006855,0.008493,0.008863,0.006122,0.006765
10001,0.003558,0.003906,0.008084,0.009841,0.009683,0.009548,0.008913,0.007977
10011,0.007971,0.007003,0.012710,0.023488,0.028748,0.028601,0.023993,0.021350
10018,0.000558,0.000733,0.002685,0.003402,0.003370,0.002277,0.001661,0.001302
10019,0.005781,0.005581,0.012613,0.024580,0.021382,0.017703,0.017583,0.018776
10036,0.003142,0.003083,0.009453,0.015664,0.013632,0.013840,0.012122,0.009354
10029,0.036076,0.041031,0.035408,0.025357,0.023667,0.025636,0.021922,0.024793
10035,0.015920,0.017792,0.015960,0.011474,0.013205,0.015229,0.011689,0.011577
10010,0.004445,0.003741,0.015871,0.016412,0.012010,0.011137,0.011765,0.012011
10016,0.006022,0.004788,0.022073,0.032700,0.020893,0.017180,0.017917,0.019577
10017,0.001588,0.001466,0.004715,0.008969,0.006339,0.005727,0.006850,0.007618
10022,0.004664,0.003561,0.005846,0.011522,0.011315,0.011612,0.015990,0.024770
10012,0.003920,0.003696,0.008396,0.014319,0.010646,0.008330,0.009907,0.010110
10013,0.008004,0.006285,0.010412,0.011182,0.013263,0.012054,0.012456,0.011323
10014,0.004741,0.003861,0.006894,0.017133,0.015970,0.014538,0.013988,0.013635
10004,0.000580,0.000359,0.001257,0.002161,0.001811,0.001082,0.000872,0.000442
10005,0.000591,0.000314,0.003971,0.006747,0.003322,0.001570,0.000766,0.000210
10006,0.000230,0.000209,0.001852,0.002853,0.001511,0.000630,0.000493,0.000120
10007,0.002015,0.000748,0.001926,0.004322,0.006071,0.003010,0.001881,0.000876
10038,0.004489,0.004325,0.012078,0.009985,0.006829,0.005707,0.006076,0.008097
10280,0.002124,0.001601,0.001242,0.003570,0.004770,0.003385,0.002913,0.001886
10002,0.027701,0.029853,0.029064,0.027706,0.029117,0.032632,0.034029,0.041459
10003,0.006131,0.005716,0.041068,0.027974,0.022019,0.019076,0.020542,0.018350
10009,0.015098,0.016939,0.027726,0.028218,0.021561,0.023620,0.022787,0.021740
10021,0.010894,0.007347,0.006418,0.016712,0.015096,0.013627,0.016961,0.026896
10028,0.013412,0.011268,0.008181,0.017181,0.016001,0.016308,0.017879,0.024082
...,...,...,...,...,...,...,...,...
10075,0.007883,0.005372,0.004343,0.008788,0.009083,0.008863,0.010870,0.014705
10128,0.017671,0.014949,0.014651,0.024392,0.022446,0.021734,0.023303,0.025668
10023,0.014058,0.012046,0.012903,0.021095,0.024610,0.023533,0.026777,0.033332
10024,0.018438,0.015547,0.009274,0.018525,0.024004,0.024454,0.029349,0.032344
10025,0.027022,0.027429,0.034939,0.030679,0.033187,0.038452,0.042047,0.043532
10031,0.022500,0.027982,0.028477,0.022203,0.021424,0.021266,0.019085,0.016688
10032,0.021854,0.026665,0.027904,0.021695,0.020166,0.021724,0.021042,0.020056
10033,0.020398,0.024795,0.030864,0.018717,0.019813,0.020768,0.020481,0.018387
10034,0.015952,0.018181,0.014897,0.012866,0.015248,0.015384,0.015110,0.011435
10040,0.015624,0.019124,0.016994,0.013331,0.015159,0.016205,0.015566,0.014533
11691,0.036131,0.036362,0.023315,0.015228,0.016712,0.020297,0.020542,0.022645
11692,0.011463,0.011627,0.007214,0.004338,0.005471,0.006783,0.005909,0.005508
11693,0.005934,0.006569,0.003904,0.002825,0.004023,0.005384,0.005219,0.004161
11694,0.008748,0.010086,0.005860,0.004110,0.006482,0.010381,0.011735,0.011906
11697,0.001730,0.002035,0.000855,0.000628,0.001064,0.001734,0.002367,0.003046
11204,0.045317,0.045310,0.031057,0.022563,0.024447,0.029693,0.031131,0.030585
11218,0.043062,0.040941,0.028677,0.025213,0.028664,0.029441,0.028082,0.021919
11219,0.066109,0.055486,0.040406,0.027578,0.025716,0.027396,0.030813,0.027180
11230,0.045810,0.046926,0.034114,0.024516,0.025753,0.030523,0.035880,0.037440
11201,0.012208,0.010849,0.017418,0.023508,0.025142,0.017606,0.018061,0.018559
11205,0.021471,0.017358,0.019716,0.016376,0.014543,0.010145,0.008746,0.008075
11215,0.020923,0.017567,0.014093,0.030059,0.031586,0.023285,0.021733,0.017541
11217,0.010708,0.011043,0.008501,0.017457,0.017465,0.012671,0.011477,0.009878
11231,0.012701,0.011597,0.007987,0.013815,0.017254,0.011201,0.009930,0.009624
11203,0.035003,0.037275,0.027361,0.018926,0.022098,0.029031,0.030191,0.031970
11210,0.034938,0.037125,0.024267,0.015288,0.018439,0.022364,0.024941,0.019652
11225,0.025215,0.026501,0.020534,0.018073,0.018444,0.020384,0.019980,0.017938
11226,0.049587,0.052014,0.039595,0.029459,0.032160,0.037251,0.036638,0.027450
11220,0.049445,0.048902,0.045500,0.038764,0.039716,0.038620,0.033445,0.028018
11232,0.012733,0.012195,0.014666,0.015064,0.014416,0.011369,0.008337,0.005762

In [19]:
df.to_csv('csv_for_filtering_sports.csv')

# Idea 1 (Using the Interests rank csv)

In [20]:
df_1 = pd.read_csv('../data-collect/Participation_Interests_Among_Non-Participants.csv',skiprows=1,nrows=10, index_col = 'Interest Level')

In [21]:
#df_1['6~12']

In [22]:
df_1

,6~12,13~17,18~24,25~34,35~44,45~54,55~64,65+
Interest Level,,,,,,,,
1,Camping,Camping,Camping,Camping,Camping,Camping,Bicycling,Birdwatching/Wildlife Viewing
2,Fishing,Fishing,Bicycling,Swimming For Fitness,Swimming For Fitness,Fishing,Camping,Fishing
3,Soccer,Swimming For Fitness,Martial Arts,Bicycling,Bicycling,Bicycling,Birdwatching/Wildlife Viewing,Working out using machines
4,Basketball,Running/Jogging,Backpacking,Fishing,Fishing,Swimming for Fitness,Swimming For Fitness,Swimming For Fitness
5,Bicycling,Working out using machines,Fishing,Canoeing,Working out with weights,Hiking,Fishing,Bicycling
6,Martial Arts,Bicycling,Working out with weights,Hiking,Hiking,Working out with weights,Working out using machines,Hiking
7,Swimming for Fitness,Working out with weights,Working out using machines,Backpacking,Working out using machines,Canoeing,Hiking,Camping
8,Football,Basketball,Canoeing,Working out with weights,Running/Jogging,Working out using machines,Working out with weights,Working out with weights
9,Swimming on a Team,Football,Kayaking,Running/Jogging,Canoeing,Birdwatching/Wildlife Viewing,Canoeing,Fitness Classes
10,Volleyball,Volleyball,Swimming For Fitness,Working out using machines,Basketball,Backpacking,Kayaking,Shooting

In [23]:
n1 = list(df_1['6~12'])

In [24]:
n2 = list(df_1['13~17'])

In [25]:
#import numpy as np
#np.stack((n1, n2), axis = 0)

In [26]:
#list(set(n1+n2))

In [27]:
sports = []
for column in df_1:
    col_list = list(df_1[column])
    sports += col_list
sports = list(set(sports))
sports.sort()
#sports

In [28]:
import datetime
import pandas as pd
import numpy as np

todays_date = datetime.datetime.now().date()
#index = pd.date_range(todays_date-datetime.timedelta(10), periods=10, freq='D')
index = list(df_1.columns.values)

#columns = ['A','B', 'C']

In [29]:
df_2 = pd.DataFrame(index=index, columns=sports)
df_2 = df_2.fillna(0)

In [30]:
for index_col, col in df_1.iteritems():
    for index_row, row in df_1.iterrows():
        sport = df_1.loc[index_row, str(index_col)]
        #df_2.loc['6~12', 'sport']
        df_2[sport][index_col] = 11- index_row
        #print(sport)
df_2

,Backpacking,Basketball,Bicycling,Birdwatching/Wildlife Viewing,Camping,Canoeing,Fishing,Fitness Classes,Football,Hiking,...,Martial Arts,Running/Jogging,Shooting,Soccer,Swimming For Fitness,Swimming for Fitness,Swimming on a Team,Volleyball,Working out using machines,Working out with weights
6~12,0,7,6,0,10,0,9,0,3,0,...,5,0,0,8,0,4,2,1,0,0
13~17,0,3,5,0,10,0,9,0,2,0,...,0,7,0,0,8,0,0,1,6,4
18~24,7,0,9,0,10,3,6,0,0,0,...,8,0,0,0,1,0,0,0,4,5
25~34,4,0,8,0,10,6,7,0,0,5,...,0,2,0,0,9,0,0,0,1,3
35~44,0,1,8,0,10,2,7,0,0,5,...,0,3,0,0,9,0,0,0,4,6
45~54,1,0,8,2,10,4,9,0,0,6,...,0,0,0,0,0,7,0,0,3,5
55~64,0,0,10,8,9,2,6,0,0,4,...,0,0,0,0,7,0,0,0,5,3
65+,0,0,6,10,4,0,9,2,0,5,...,0,0,1,0,7,0,0,0,8,3

In [31]:
df_2 = df_2.transpose()

In [32]:
df_2
#df_2.sum(axis=1)
#df.loc[10026].values

,6~12,13~17,18~24,25~34,35~44,45~54,55~64,65+
Backpacking,0,0,7,4,0,1,0,0
Basketball,7,3,0,0,1,0,0,0
Bicycling,6,5,9,8,8,8,10,6
Birdwatching/Wildlife Viewing,0,0,0,0,0,2,8,10
Camping,10,10,10,10,10,10,9,4
Canoeing,0,0,3,6,2,4,2,0
Fishing,9,9,6,7,7,9,6,9
Fitness Classes,0,0,0,0,0,0,0,2
Football,3,2,0,0,0,0,0,0
Hiking,0,0,0,5,5,6,4,5
Kayaking,0,0,2,0,0,0,1,0
Martial Arts,5,0,8,0,0,0,0,0
Running/Jogging,0,7,0,2,3,0,0,0
Shooting,0,0,0,0,0,0,0,1
Soccer,8,0,0,0,0,0,0,0
Swimming For Fitness,0,8,1,9,9,0,7,7
Swimming for Fitness,4,0,0,0,0,7,0,0
Swimming on a Team,2,0,0,0,0,0,0,0
Volleyball,1,1,0,0,0,0,0,0
Working out using machines,0,6,4,1,4,3,5,8
Working out with weights,0,4,5,3,6,5,3,3

In [33]:
def rank(zipcode, i, j):
    df_with_score = pd.DataFrame(df_2.values*df.loc[zipcode].values, columns=df_2.columns, index=df_2.index)
    df_with_score['score'] = df_with_score.sum(axis=1)
    df_with_score1 = df_with_score.sort_values('score', ascending=False)
    rank_list = df_with_score1.index.tolist()
    return rank_list[i:j]

In [34]:
for i in range(10026, 10040):
   print(rank(i, 6, 11))

['Hiking', 'Canoeing', 'Birdwatching/Wildlife Viewing', 'Martial Arts', 'Running/Jogging']
['Hiking', 'Canoeing', 'Martial Arts', 'Backpacking', 'Birdwatching/Wildlife Viewing']
['Working out with weights', 'Birdwatching/Wildlife Viewing', 'Canoeing', 'Swimming for Fitness', 'Running/Jogging']
['Hiking', 'Birdwatching/Wildlife Viewing', 'Martial Arts', 'Canoeing', 'Running/Jogging']
['Hiking', 'Birdwatching/Wildlife Viewing', 'Canoeing', 'Running/Jogging', 'Martial Arts']
['Hiking', 'Canoeing', 'Birdwatching/Wildlife Viewing', 'Martial Arts', 'Backpacking']
['Hiking', 'Birdwatching/Wildlife Viewing', 'Canoeing', 'Martial Arts', 'Backpacking']
['Hiking', 'Birdwatching/Wildlife Viewing', 'Canoeing', 'Martial Arts', 'Backpacking']
['Hiking', 'Birdwatching/Wildlife Viewing', 'Canoeing', 'Martial Arts', 'Running/Jogging']
['Hiking', 'Birdwatching/Wildlife Viewing', 'Canoeing', 'Martial Arts', 'Running/Jogging']
['Working out using machines', 'Canoeing', 'Birdwatching/Wildlife Viewing', 'Backpacking', 'Swimming for Fitness']
['Hiking', 'Birdwatching/Wildlife Viewing', 'Canoeing', 'Martial Arts', 'Running/Jogging']
['Hiking', 'Canoeing', 'Birdwatching/Wildlife Viewing', 'Backpacking', 'Martial Arts']
['Hiking', 'Martial Arts', 'Basketball', 'Canoeing', 'Birdwatching/Wildlife Viewing']

# Idea 2 (Using the sport time vs age group csv)

In [35]:
haha = pd.read_pickle('../data-collect/sports_and_exercise.pkl')

In [36]:
df3 = haha[3]
df3 = df3.set_index('Detailed Activity')
df3

df3['15 to 24 years'] = df3['15 to 24 years'] / df3['15 to 24 years'].sum()
df3['25 to 54 years'] = df3['25 to 54 years'] / df3['25 to 54 years'].sum()
df3['55 years and over'] = df3['55 years and over'] / df3['55 years and over'].sum()

In [37]:
df3.to_csv('csv_for_filtering_sports_1.csv')

In [38]:
zip_wo_d_s2 = zip_wo_d

zip_wo_d_s2['age15_24'] = male_age_data_d['15'] + female_age_data_d['15']
for i in range(16, 25):
    column = str(i)
    zip_wo_d_s2['age15_24'] += male_age_data_d[column] + female_age_data_d[column]

zip_wo_d_s2['age25_54'] = male_age_data_d['25'] + female_age_data_d['25']
for i in range(26, 55):
    column = str(i)
    zip_wo_d_s2['age25_54'] += male_age_data_d[column] + female_age_data_d[column]

zip_wo_d_s2['age55_102'] = male_age_data_d['55'] + female_age_data_d['55']
for i in range(56, 103):
    column = str(i)
    zip_wo_d_s2['age55_102'] += male_age_data_d[column] + female_age_data_d[column]

In [39]:
zip_wo_d_s2['age15_24'] = zip_wo_d_s2['age15_24'] / zip_wo_d_s2['age15_24'].sum()
zip_wo_d_s2['age25_54'] = zip_wo_d_s2['age25_54'] / zip_wo_d_s2['age25_54'].sum()
zip_wo_d_s2['age55_102'] = zip_wo_d_s2['age55_102'] / zip_wo_d_s2['age55_102'].sum()

In [40]:
df4 = zip_wo_d_s2[['age15_24', 'age25_54', 'age55_102']]

In [41]:
df4.to_csv('sport_vs_age.csv')

In [42]:
#df4

In [43]:
df3 = pd.read_csv('csv_for_filtering_sports_1.csv', index_col = 'Detailed Activity')
df4 = pd.read_csv('sport_vs_age.csv', index_col = 'Unnamed: 0')

df_with_score = pd.DataFrame(df3.values*df4.loc[10026].values, columns=df3.columns, index=df3.index)
df_with_score['score'] = df_with_score.sum(axis=1)
df_with_score1 = df_with_score.sort_values('score', ascending=False)
rank_list = df_with_score1.index.tolist()

In [44]:
df3 = pd.read_csv('csv_for_filtering_sports_1.csv')

In [45]:
df3

,Detailed Activity,15 to 24 years,25 to 54 years,55 years and over
0,Yoga,0.000150,0.000960,0.000781
1,Walking,0.015215,0.067926,0.125432
2,Aerobics,0.021785,0.070407,0.111142
3,Using cardiovascular equipment,0.024724,0.075835,0.097382
4,Hiking,0.027144,0.085140,0.077799
5,Golfing,0.027663,0.056140,0.126490
6,Racquet sports,0.038210,0.072734,0.082033
7,Cycling,0.039420,0.073974,0.078064
8,"Swimming, surfing, water skiing",0.049794,0.073199,0.063510
9,Bowling,0.056191,0.057536,0.080446
10,Weight lifting,0.057920,0.073974,0.049749
11,Running,0.060167,0.087311,0.023287
12,Dancing,0.063971,0.058466,0.067214
13,"Baseball, softball",0.113073,0.050092,0.006086
14,Soccer,0.126559,0.039081,0.004234
15,Football,0.137278,0.031947,0.000000
16,Basketball,0.140736,0.025278,0.006351

In [46]:
def filter1(zipcode, i, j):
    df_with_score = pd.DataFrame(df3.values*df4.loc[zipcode].values, columns=df3.columns, index=df3.index)
    df_with_score['score'] = df_with_score.sum(axis=1)
    df_with_score1 = df_with_score.sort_values('score', ascending=False)
    rank_list = df_with_score1.index.tolist()
    return rank_list[i:j]

In [251]:
for index in list(df.index.values):
    print(rank_1(index, 0, 7))

['Golfing', 'Walking', 'Aerobics', 'Bowling', 'Using cardiovascular equipment', 'Dancing', 'Racquet sports']
['Basketball', 'Football', 'Soccer', 'Baseball, softball', 'Dancing', 'Bowling', 'Weight lifting']
['Basketball', 'Football', 'Soccer', 'Golfing', 'Baseball, softball', 'Bowling', 'Dancing']
['Golfing', 'Walking', 'Aerobics', 'Using cardiovascular equipment', 'Bowling', 'Racquet sports', 'Dancing']
['Basketball', 'Football', 'Soccer', 'Baseball, softball', 'Dancing', 'Bowling', 'Golfing']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Hiking', 'Running', 'Using cardiovascular equipment', 'Cycling', 'Racquet sports', 'Aerobics', 'Swimming, surfing, water skiing']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Basketball', 'Football', 'Soccer', 'Baseball, softball', 'Dancing', 'Bowling', 'Golfing']
['Basketball', 'Football', 'Golfing', 'Soccer', 'Bowling', 'Dancing', 'Walking']
['Golfing', 'Walking', 'Aerobics', 'Using cardiovascular equipment', 'Bowling', 'Racquet sports', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Racquet sports', 'Hiking', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Racquet sports', 'Hiking', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Running', 'Hiking', 'Weight lifting', 'Using cardiovascular equipment', 'Swimming, surfing, water skiing', 'Cycling', 'Racquet sports']
['Running', 'Baseball, softball', 'Football', 'Soccer', 'Basketball', 'Weight lifting', 'Swimming, surfing, water skiing']
['Baseball, softball', 'Football', 'Soccer', 'Running', 'Basketball', 'Weight lifting', 'Swimming, surfing, water skiing']
['Hiking', 'Running', 'Using cardiovascular equipment', 'Aerobics', 'Cycling', 'Walking', 'Racquet sports']
['Basketball', 'Football', 'Soccer', 'Golfing', 'Bowling', 'Baseball, softball', 'Dancing']
['Walking', 'Aerobics', 'Using cardiovascular equipment', 'Golfing', 'Hiking', 'Racquet sports', 'Cycling']
['Golfing', 'Walking', 'Aerobics', 'Using cardiovascular equipment', 'Bowling', 'Racquet sports', 'Cycling']
['Basketball', 'Football', 'Soccer', 'Baseball, softball', 'Dancing', 'Bowling', 'Golfing']
['Golfing', 'Walking', 'Aerobics', 'Using cardiovascular equipment', 'Bowling', 'Racquet sports', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Racquet sports', 'Hiking', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Golfing', 'Walking', 'Aerobics', 'Using cardiovascular equipment', 'Bowling', 'Racquet sports', 'Cycling']
['Basketball', 'Football', 'Soccer', 'Baseball, softball', 'Dancing', 'Bowling', 'Golfing']
['Basketball', 'Golfing', 'Football', 'Walking', 'Soccer', 'Bowling', 'Dancing']
['Basketball', 'Football', 'Soccer', 'Baseball, softball', 'Golfing', 'Bowling', 'Dancing']
['Golfing', 'Walking', 'Aerobics', 'Bowling', 'Using cardiovascular equipment', 'Dancing', 'Racquet sports']
['Golfing', 'Walking', 'Aerobics', 'Bowling', 'Using cardiovascular equipment', 'Dancing', 'Racquet sports']
['Golfing', 'Basketball', 'Walking', 'Bowling', 'Aerobics', 'Football', 'Dancing']
['Basketball', 'Football', 'Soccer', 'Golfing', 'Bowling', 'Baseball, softball', 'Dancing']
['Golfing', 'Walking', 'Aerobics', 'Using cardiovascular equipment', 'Bowling', 'Racquet sports', 'Dancing']
['Golfing', 'Walking', 'Aerobics', 'Using cardiovascular equipment', 'Bowling', 'Racquet sports', 'Cycling']
['Golfing', 'Walking', 'Aerobics', 'Using cardiovascular equipment', 'Racquet sports', 'Bowling', 'Cycling']
['Golfing', 'Walking', 'Aerobics', 'Bowling', 'Using cardiovascular equipment', 'Dancing', 'Racquet sports']
['Golfing', 'Walking', 'Aerobics', 'Bowling', 'Dancing', 'Using cardiovascular equipment', 'Basketball']
['Basketball', 'Football', 'Soccer', 'Baseball, softball', 'Golfing', 'Bowling', 'Dancing']
['Golfing', 'Walking', 'Aerobics', 'Bowling', 'Using cardiovascular equipment', 'Dancing', 'Racquet sports']
['Walking', 'Golfing', 'Aerobics', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Basketball', 'Football', 'Soccer', 'Baseball, softball', 'Dancing', 'Running', 'Weight lifting']
['Walking', 'Aerobics', 'Golfing', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Walking', 'Aerobics', 'Golfing', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Walking', 'Aerobics', 'Golfing', 'Using cardiovascular equipment', 'Hiking', 'Racquet sports', 'Cycling']
['Golfing', 'Walking', 'Aerobics', 'Bowling', 'Using cardiovascular equipment', 'Racquet sports', 'Dancing']
['Golfing', 'Basketball', 'Walking', 'Bowling', 'Aerobics', 'Football', 'Dancing']
['Golfing', 'Walking', 'Aerobics', 'Bowling', 'Using cardiovascular equipment', 'Dancing', 'Racquet sports']
['Golfing', 'Basketball', 'Football', 'Walking', 'Bowling', 'Soccer', 'Dancing']
['Basketball', 'Football', 'Soccer', 'Baseball, softball', 'Golfing', 'Bowling', 'Dancing']
['Basketball', 'Football', 'Soccer', 'Baseball, softball', 'Running', 'Weight lifting', 'Dancing']